header.b_layout
  .pure-g
    .pure-u-7-24
      a.b_logo(href='#')
        img(src='images/logo.png')
    .pure-u-17-24
      ul.b_main_menu
        li
          a(href='#') О фонде
        li
          a.active(href='#') Президиум
        li
          a(href='#') Попечительский совет
        li
          a(href='#') Проекты
        li
          a(href='#') Публикации
        li
          a(href='#') Новости
        li
          a(href='#') Контакты