/* base */
@import 'partials/base/grids';
@import 'partials/base/reset';
@import 'partials/base/layout';
@import 'partials/base/typo';


header {
  padding-top: 35px;
  padding-bottom: 35px;
}
footer {
  margin: 90px 0 0 0;
  background: #000;
  height: 100px;
  line-height: 100px;
  color: rgba(255, 255, 255, 0.75);
}

.b_layout {
  margin: 0 auto;
  width: 1020px;
  padding-left: 10px;
  padding-right: 10px;
}
.b_logo {
  img {
    display: block;
  }
}
.b_main_menu {
  float: right;
  line-height: 74px/2;
  li {
    float: left;
    margin: 0 0 0 40px;
    .slab();
    a.active {
      color: @h_color;
    }
  }
}
.b_promo {
  background-position: 50% 50%;
  text-align: center;
  margin: 0 0 90px;
  .b_layout { height: 450px; }
  &.m_little .b_layout { height: 100px; }
  &.m_publication .b_layout { height: 395px; background: #000; opacity: 0.6; width: 100%; }
  .typo_hl, .typo_sh {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 20px;
    &.vam {margin: 0;}
  }
  p {
    color: #fff;
  }
  .left {
    text-align: left;
  }
}
.b_texts {
  position: relative;
  text-align: center;
  margin: 70px 0 40px 0;
  padding: 0 170px 25px;
  &:after {
    content: ' ';
    position: absolute;
    height: 1px;
    width: 80px;
    background: #979797;
    bottom: 0px;
    left: 50%;
    margin: 0 0 0 -40px;
  }
  .typo_hl, .typo_sh {
    margin: 0 0 10px;
    text-transform: uppercase;
    position: relative;
    &.m_pt {
      padding-top: 40px !important;
    }
  }
  img {
    display: block;
    margin: 5px auto 20px;
  }
  p {
    
  }
  &.m_line {
    padding-left: 145px;
    padding-right: 145px;
    text-align: left;
    &:after {display: none;}
    .typo_hl, .typo_sh {
      margin: 0 0 50px;
      padding: 0 0 50px;
      text-align: center;
      &:after {
        content: ' ';
        position: absolute;
        height: 1px;
        width: 80px;
        background: #979797;
        bottom: 0px;
        left: 50%;
        margin: 0 0 0 -40px;
      }
    }
  }
}
.b_projects {
  margin: 0 0 85px;
  [class^='pure-u-']:last-child {
    .b_project {float: right;}
  }
}
.b_project {
  height: 450px;
  width: 490px;
  position: relative;
  background-repeat: no-repeat;
  .slot {
    height: 350px;
    text-align: center;
  }
  .title {
    height: 100px;
    color: #fff;
    padding: 0 40px;
    text-align: center;
    text-transform: uppercase;
  }
  &:hover .title {
    color: @h_color;
  }
}
.b_newsbox {
  .pure-u-1-3 {
    width: 320px;
    margin: 0 20px 0 0;
    &:last-child {margin: 0;}
  }
  .b_layout:last-child {
    .b_news {
      margin: 0;
    }
  }
}
.b_news {
  position: relative;
  width: 320px;
  margin: 0 0 100px;
  img {
    display: block;
    margin: 0 0 25px;
  }
  &:hover {
    .typo_t {
      color: @h_color;
    }
  }
}
.b_sort {
  margin-top: -90px;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  li {
    float: right;
    margin: 0 0 0 30px;
    a {
      color: #BABABA;
      &.active {color: @a_color;}
    }
  }
}
.b_news_page {
  aside {
    .title {
      .slab();
      text-transform: uppercase;
      color: @a_color;
      font-size: 16px;
      margin: 0 0 20px;
    }
    ul {
      margin: 0 0 30px;
      li {
        margin: 0 0 14px;
        line-height: 1.3;
        a {
          color: @b_color;
          &:hover {
            color: @h_color;
          }
        }
      }
    }
  }
  section {
    blockquote {
      padding: 10px 0 10px 30px;
      margin: 0 0 14px;
      display: block;
      font-size: 24px;
      border: 4px solid #505050;
      border-width: 0 0 0 4px;
      line-height: 1;
      color: @a_color;
      cite {
        display: block;
        margin: 15px 0 0 0;
        font-size: 14px;
        color: @b_color;
        font-style: italic;
      }
    }
    img {
      display: block;
      margin: 0 0 30px;
      max-width: 100%;
    }
    .title {
      margin: 0 0 20px;
      text-transform: uppercase;
    }
    p {
      line-height: 28px;
    }
    .stats {
      span {
        display: inline-block;
        margin: 0 100px 0 0;
      }
      em {
        font-style: italic;
      }
    }
  }
}
.b_publication_page {
  background: #f2f2f2;
  padding: 60px 0 1px 0;
  margin: 0 0 -90px;
  .b_promo {
    margin-bottom: -200px;
    margin-top: -60px;
    position: relative;
    z-index: 2004;
  }
}
.b_publication {
  position: relative;
  z-index: 2005;
  background: #fff;
  min-height: 244px;
  width: 908px;
  margin: 0 auto 35px;
  padding: 75px 135px 135px 120px;
  box-shadow: 0 2px 6px rgba(24, 28, 39, 0.3);
  .typo_sh {
    margin: 0 0 20px;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 50px auto 40px;
  }
  &.m_next {
    padding-bottom: 0;
  }
  &.m_color {
    background: #000;
    color: #fff;
    background-position: 50% 50%;
    .typo_sh {color: #fff;}
  }
}
.b_contacts {
  position: relative;
  #map {
    height: 450px;
  }
  .text {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 380px;
    left: 50%;
    margin: 0 0 0 -457px;
    color: #fff;
    padding: 50px 60px;
    hr {border: none;border-bottom: 1px solid #fff;width: 80px;padding: 0;margin: 27px 0;}
    .title { font-size: 24px; text-transform: uppercase; }
    p { font-size: 16px; line-height: 32px; margin: 0; }
  }
}
.b_links {
  margin: 0 0 -90px 0;
  text-align: center;
  height: 100px;
  line-height: 100px;
  i.doc {
    width: 20px;
    height: 27px;
    display: inline-block;
    background: url(../images/doc.png) no-repeat;
    vertical-align: -8px;
    margin: 0 20px 0 0;
  }
  li {
    display: inline-block;
    padding: 0 100px 0 0;
    &:last-child {padding: 0;}
  }
}
.b_popup_wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px 0 0 0;
  background: rgba(24, 28, 39, 0.7);
  overflow-y: auto;
  .b_popup {
    background: #fff;
    width: 520px;
    min-height: 365px;
    margin: 0 auto 100px;
    padding: 60px 70px;
    .title {margin: 0 0 50px;}
    i.doc {
      width: 20px;
      height: 27px;
      display: inline-block;
      background: url(../images/doc.png) no-repeat;
      vertical-align: -8px;
      margin: 0 20px 0 0;
    }
  }
}
.member_fun() {
  img {
    display: block;
    margin: 0 auto 25px;
  }
  .name {
    text-align: center;
    .slab();
    text-transform: uppercase;
    color: #30313b;
    font-size: 16px;
    font-weight: lighter;
    margin: 0 0 25px;
  }
  .role {
    text-align: center;
  }
}
.b_main_member {
  .member_fun();
  background: #fbfbfb;
  margin: -90px 0 0 0;
  padding: 70px 0;
}
.b_members {
  padding: 55px 0 0;
  &.m_pad {padding: 0;}
  .title {
    text-align: center;
    text-transform: uppercase;
  }
}
.b_member {
  .member_fun();
  margin: 60px 0 0 0;
}
.b_founders {
  padding: 55px 0 0 0;
  .title {
    text-align: center;
    margin: 0 0 60px;
    text-transform: uppercase;
  }
}
.b_founder {
  width: 335px;
  float: left;
  position: relative;
  img {
    border: 1px solid #ededed;
    padding: 15px;
    margin: 0 0 25px;
  }
  .name {
    .slab();
    text-transform: uppercase;
    color: #30313b;
    font-size: 16px;
    font-weight: lighter;
    margin: 0 0 14px;
  }
  .link {
    color: #30313b;
    margin: 0 0 14px;
    text-decoration: underline;
  }
  &:hover .link { color: @h_color; }
}
.b_project_1, .b_project_2 {
  .title {
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 30px;
  }
  p {margin-left: 140px;margin-right: 140px;}
  a.button {
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    height: 50px;
    padding: 0 30px;
    display: inline-block;
    line-height: 48px;
    &:hover {
      border-color: @h_color;
      color: @h_color;
    }
  }
  section {
    height: 750px;
    .b_layout { height: 750px; }
  }
  section.slide_1 {
    background: #000;
    text-align: center;
    position: relative;
    color: #fff;
    img {
      display: block;
      margin: 0 auto 30px;
    }
  }
  section.slide_2 {
    .title { text-align: center; color: @a_color; &:not(:first-child) {margin-top: 90px;} }
  }
  section.slide_3 {
    position: relative;
    background: #ae8372;
    color: #fff;
    img {
      position: absolute;
      bottom: 0;
      left: 50%;
    }
    p {
      margin: 0;
    }
    .vam {
      width: 350px;
      text-align: left;
    }
    &.m_left {
      text-align: right;
      img {
        margin: 0 0 0 -300px - 200px;
      }
    }
    &.m_right {
      background: #7f404f;
      img {
        margin: 0 0 0 -300px + 200px;
      }
    }
  }
  section.slide_4 {
    background: #16152d;
    height: auto;
    margin: 0 0 -90px 0;
    color: #fff;
    text-align: center;
    p {
      margin: 0 140px 30px;
      &:last-child {margin: 0;}
    }
    .b_layout {
      padding-bottom: 445px;
      height: 800px;
    }
    position: relative;
    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin: 0 0 0 -625px;
    }
  }
  section.slide_5 {
    height: auto;
    .b_layout {
      height: auto;
    }
    .title { text-align: center; color: @a_color; }
    .text {
      padding: 100px 0 200px;
    }
    .steps {
      padding: 0 0 100px;
    }
    .step {
      &:first-child {margin-top: -35px;}
      .label {
        .slab();
        font-weight: lighter;
        font-size: 20px;
        color: @a_color;
        margin: 0 0 20px;
        em {
          font-size: 48px;
          font-style: normal;
          font-weight: 100;
        }
      }
      p { margin-left: 0; margin-right: 0; }
    }
    .pure-u-4-24 {
      background: url(../images/line.png) repeat-y top center;
      height: 720px;
      i.round {
        display: block;
        margin: 0 auto;
        height: 22px;
        width: 22px;
        background: url(../images/round.png) no-repeat;
      }
    }
  }
  section.slide_6, section.slide_7 {
    background: #ffd585;
    color: @a_color;
    .title { text-align: center; color: @a_color; }
  }
  section.slide_7 {
    background: #3f3f3f;
    color: #fff;
    margin: 0 0 -90px;
    p.center {margin-top: 50px;}
    .title {color: #fff;}
  }
}