extend layout/base

block content
  include partials/header
  .b_promo(style='background-image: url(images/promo_1.png)')
    .b_layout
      .vam.left
        .typo_sh фонд "интеллектуальные инвестиции"
        p Некоммерческая организация, созданная для реализации общественно-значимых<br /> проектов, ставящих целью гармонизацию отношений бизнеса и власти, а также развитие<br /> инновационных решений в просвещении, социализации и профессиональном развитии<br /> трудовых резервов Москвы.
      .vam_helper
  .b_layout
    .b_texts.m_line
      .typo_sh История создания <br /> и главный принцип работы
      p Некоммерческая организация, созданная для реализации общественно-значимых проектов, ставящих целью гармонизацию отношений бизнеса и власти, а также развитие инновационных решений в просвещении, социализации и профессиональном развитии трудовых резервов Москвы.
      .typo_sh.m_pt Что делает фонд?
      p Некоммерческая организация, созданная для реализации общественно-значимых проектов, ставящих целью гармонизацию отношений бизнеса и власти, а также развитие инновационных решений в просвещении, социализации и профессиональном развитии трудовых резервов Москвы.
      img(src='images/club.png')
      p Некоммерческая организация, созданная для реализации общественно-значимых проектов, ставящих целью гармонизацию отношений бизнеса и власти, а также развитие инновационных решений в просвещении, социализации и профессиональном развитии трудовых резервов Москвы.
      img(src='images/prof.png')
      p Некоммерческая организация, созданная для реализации общественно-значимых проектов, ставящих целью гармонизацию отношений бизнеса и власти, а также развитие инновационных решений в просвещении, социализации и профессиональном развитии трудовых резервов Москвы.
      img(src='images/city.png')
      p Некоммерческая организация, созданная для реализации общественно-значимых проектов, ставящих целью гармонизацию отношений бизнеса и власти, а также развитие инновационных решений в просвещении, социализации и профессиональном развитии трудовых резервов Москвы.
      p Некоммерческая организация, созданная для реализации общественно-значимых проектов, ставящих целью гармонизацию отношений бизнеса и власти, а также развитие инновационных решений в просвещении, социализации и профессиональном развитии трудовых резервов Москвы.
  include partials/footer