extend layout/base

block content
  include partials/header
  include partials/index/promo_1
  include partials/index/texts
  include partials/index/projects
  include partials/index/news
  include partials/footer