extend layout/base

block content
  include partials/header
  ul.b_layout
    li
      a(href='index.html') Главная
    li
      a(href='projects.html') Проекты
    li
      a(href='project_1.html') Проект 1
    li
      a(href='project_2.html') Проект 2
    li
      a(href='news.html') Новости
    li
      a(href='news_page.html') Новость
    li
      a(href='publications.html') Публикации
    li
      a(href='publication.html') Публикация
    li
      a(href='publication_1.html') Публикация 1
    li
      a(href='contacts.html') Контакты
    li
      a(href='about.html') О фонде
    li
      a(href='faces.html') Лица
    li
      a(href='faces_1.html') Лица 1
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
  include partials/footer