extend layout/base

block content
  include partials/header
  ul.b_layout
    li
      a(href='index.html') Главная
    li
      a(href='projects.html') Проекты
    li
      a(href='project_1.html') Проект 1
    li
      a(href='project_2.html') Проект 2
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
    //li
    //  a(href='.html') 
  include partials/footer