extend layout/base

block content
  include partials/header
  .b_promo.m_little(style='background-image: url(images/promo_1.png)')
    .b_layout
      .typo_sh.vam НОВОСТи
      .vam_helper
  .b_news_page
    .b_layout
      .pure-g
        section.pure-u-17-24
          img(src='images/news_page.png')
          .title
            .typo_sh РНФ ОПределил победителей конкурса на финансирование проектов научных лабораторий
          p.stats 
            span 11 декабря 2014
            span <em>Тендер</em>
          p По результатам конкурса поддержжаны 30 проектов, выполняемых совместно российскими и зарубежными учёными.
          p Дискуссии о кризисном состоянии российской науки ведутся уже более двадцати лет. Проводятся мониторинги, выдвигаются проекты. В октябре 2009 г.  произошло событие, определенным образом повлиявшее на сложившуюся ситуацию - президенту России Д. А. Медведеву было направлено открытое письмо бывших российских граждан, а ныне - ведущих американских и европейских ученых. В письме  содержалась не только острая критика российской научной системы, но также и конкретные предложения по реформированию с участием самих представителей диаспоры. 
          blockquote JPMorgan получил квартальную прибыль благодаря отсутствию юридических расходов
            cite Someone famous
          p Это документ мог остаться без ответа, однако появление письма по времени совпало с публикацией программных выступлений президента о модернизации страны и необходимости создания инновационной экономики. Ответом главы государства ученым стал проект реформ, к участию в разработке и воплощении которого были привлечены некоторые авторы письма, а также - ведущие российские ученые и эксперты-науковеды. До настоящего времени продолжается разработка реформ и широкая общественная дискуссия о перспективах реформирования, об эффективности РАН, о возможностях перенесения западных моделей и о том, какую именно модель модернизации следует выбрать для России. И именно в данной ситуации — в ситуации острой потребности в экспертном знании оказалось, что традиционные методы, используемые для исследования российской науки, недостаточны.
        .pure-u-1-24
        aside.pure-u-6-24
          .title Категории
          ul
            li
              a(href='#') > Все новости
            li
              a(href='#') > Тендеры
            li
              a(href='#') > Отчёты о мероприятиях
          .title Последние новости
          ul
            li
              a(href='#') Финансирование проектов научных лабораторий
            li
              a(href='#') РНФ поддержал проекты международных научных групп
            li
              a(href='#') Список победителей конкурса на финансирование проектов
            li
              a(href='#') Финансирование проектов
            li
              a(href='#') РНФ поддержал проекты международных научных групп
            li
              a(href='#') Список победителей конкурса
  include partials/footer