.b_layout
  .pure-g
    .pure-u-1-3
      .b_news
        a.overlay(href='#')
        img(src='images/news_1.png')
        p.typo_t РНФ ОПРЕДЕЛИЛ ПОБЕДИТЕЛЕЙ КОНКУРСА НА ФИНАНСИРОВАНИЕ ПРОЕКТОВ НАУЧНЫХ ЛАБОРАТОРИЙ
        p
          small 11 декабря 2014
        p Стимулирование формирования сети Венчурных партнёров для фондов посевных инвестиций с целью максимального…
    .pure-u-1-3
      .b_news
        a.overlay(href='#')
        p.typo_t РНФ ОПРЕДЕЛИЛ ПОБЕДИТЕЛЕЙ КОНКУРСА НА ФИНАНСИРОВАНИЕ ПРОЕКТОВ НАУЧНЫХ ЛАБОРАТОРИЙ
        p 11 декабря 2014
        p По результатам конкурса поддержаны 30 проектов, выполняемых совместно российскими и зарубежными учеными. Грантами охвачено около 200 российских исследователей из 9 регионов России, в качестве зарубежных партнеров привлечены специалисты из 23 стран.
    .pure-u-1-3
      .b_news
        a.overlay(href='#')
        img(src='images/news_2.png')
        p.typo_t ФИНАНСИРОВАНИЕ ПРОЕКТОВ НАУЧНЫХ ЛАБОРАТОРИЙ
        p
          small 11 декабря 2014
        p Стимулирование формирования сети Венчурных партнёров для фондов посевных инвестиций с целью максимального…