.b_projects
  .b_layout
    .b_texts
      .typo_hl ПРОЕКТЫ ФОНДА
      p Деятельность Фонда сосредоточена на  присуждении  грантов исследователям, работающим в учреждениях РАН и ведущих ВУЗах во всех регионах страны. Вы можете ознакомиться с выполненными проектами.
  include ../projects/projects