.b_layout
  .b_texts
    .typo_hl О ФОНДЕ
    p Некоммерческая организация, созданная для реализации общественно-значимых проектов, ставящих целью гармонизацию отношений бизнеса и власти, а также развитие инновационных решений в просвещении, социализации и профессиональном развитии трудовых резервов Москвы.