.b_project_1
  section.slide_1
    .b_layout
      a.overlay(href='#')
      .vam
        img(src='images/prof_logo.png')
        .title.typo_sh Профориентационный проект
        p text from png
      .vam_helper
  section.slide_2
    .b_layout
      .vam.w100
        .title.typo_sh партнёры
        p text from png
        .title.typo_sh информация о проекте
        p text from png
      .vam_helper
  section.slide_3.m_left
    .b_layout
      .vam
        .title.typo_sh мероприятия
        p text from png
      .vam_helper
      img(src='http://placehold.it/600x560')
  section.slide_3.m_right
    .b_layout
      .vam
        .title.typo_sh цели
        p text from png
      .vam_helper
      img(src='http://placehold.it/600x560')
  section.slide_3.m_left
    .b_layout
      .vam
        .title.typo_sh статистика
        p text from png
      .vam_helper
      img(src='http://placehold.it/600x560')
  section.slide_3.m_right
    .b_layout
      .vam
        .title.typo_sh организации
        p text from png
      .vam_helper
      img(src='http://placehold.it/600x560')
  section.slide_4
    .b_layout
      .vam
        .title.typo_sh организации
        p text from png
        p.center 
          a.button(href='#') Посмотреть проект
      .vam_helper
      img(src='http://placehold.it/1250x445')