.b_project_2
  section.slide_1
    .b_layout
      a.overlay(href='#')
      .vam
        img(src='images/prof_logo.png')
        .title.typo_sh Клуб инвесторов москвы
        p text from png
      .vam_helper