.b_layout
  .pure-g
    .pure-u-1-2
      .b_project(style='background-image: url(/images/project_1.png)')
        a.overlay(href='#')
        .slot
          img.vam(src='/images/logo_1.png')
          .vam_helper
        .title
          .typo_mh.vam КЛУБ ИНВЕСТОРОВ МОСКВЫ
          .vam_helper
    .pure-u-1-2
      .b_project(style='background-image: url(/images/project_2.png)')
        a.overlay(href='#')
        .slot
        .title
          .typo_mh.vam ПРОФОРИЕНТАЦИОННЫЙ ПРОЕКТ
          .vam_helper